@model SecretView

<div class="row">
	<div class="col">
		<h3>Register</h3>
		<form asp-action="AddUser" asp-controller="Home" method="post">
			<div class="form-group">
				<span asp-validation-for="NewUser.Username" class="text-danger"></span>
				<label>Username</label>
				<input type="text" class="form-control" asp-for="NewUser.Username">
			</div>
			<div class="form-group">
				<span asp-validation-for="NewUser.Password" class="text-danger"></span>
				<label>Password</label>
				<input type="password" class="form-control" asp-for="NewUser.Password">
			</div>
			<div class="form-group">
				<span asp-validation-for="NewUser.Confirm" class="text-danger"></span>
				<label>Confirm Password</label>
				<input type="password" class="form-control" asp-for="NewUser.Confirm">
			</div>

			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Submit">
			</div>
		</form>
	</div>
	<div class="col">
		<h3>Login</h3>
		<form asp-action="Login" asp-controller="Home" method="post">
			<div class="form-group">
				<span asp-validation-for="User.Username" class="text-danger"></span>
				<label>Username</label>
				<input type="text" class="form-control" asp-for="User.Username" value="CrookedCrocodile">
			</div>
			<div class="form-group">
				<span asp-validation-for="User.Password" class="text-danger"></span>
				<label>Password</label>
				<input type="password" class="form-control" asp-for="User.Password" value="password123">
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Submit">
			</div>
		</form>
	</div>
</div>